*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}
.container{
    padding-inline: 4.5rem;
   
}
.orange__header{
  padding-block:0.3rem;
  display: flex;
  background-color:#FB5100;
  color:white;
  align-items: center;
  
}
.date{
  font-size: 0.85rem;
  font-weight: 200;
  padding-right: 2rem;
}
.list__items {
  display: flex;
  font-weight: 500;
  font-size: 0.8rem;
}
.list__item{
  padding-inline:0.5rem;
  
}
.list__item > a {
  color:white;
}
.social__icons{
  display: flex;
  margin-left: auto;
  
}
.social__icons a {
  color:white;
}
.hide__mobile{
  /* display: none; */
}
.list__items, .social__icons{
  list-style: none;
}
.list__item > a ,.social__icons > a{
  text-decoration: none;
}
.social__icons > li {
  padding-inline:0.5rem;
  font-size: 0.8rem;
}
.social__icons > li:nth-last-child(1){
  padding-right: 0;
}

.navbar{
  padding-block: 0.5rem;
  background-color: black;
  color:white;
  display: flex;
  padding-inline: 5rem;
  align-items: center;
}
.navbar__listitems{
  display: flex;
  list-style: none;
  padding-left: 2rem;
}
.navbar__listitems a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}
.navbar__listitems li {
  padding-inline: 0.875rem;
}


.logo__container{
  width:130px;
}
.logo{
  max-width: 100%;
}